* {
  padding: 0;
  margin: 0px;
}

body {
  font-family: 'Fira Sans';
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background-color: #e6f2ff;
}

.row {
  flex: 1 1 auto;
}

.main-header {
    margin: auto;
  background-color: white;
  width:1300px;
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0em;
}

.main-header img {
  /*margin-left: auto;

  height: 200%;
  padding-bottom: 10em;*/
}

.main-header .system-name {
/*  font-size: 3em;*/
  padding-right: 0em;
  color: #6495ED;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.main-header .title {
/*  font-size: 3em;*/
  padding-right: 0.3em;
  color: #FF8C00;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.main-header .title h2 {
    display: inline;
}

.main-header .system-name h2 {
    display: inline;
}

h2 {
    display: inline-block;
}

h3 {
    display: inline-block;
    style="float: left;
}

h4 {
    display: inline-block;
}

/*
.main-header .description {
  height: 100%;
  width: 15em;
  text-align: left;
  margin-right: auto;
}
*/

.main-footer {
  margin: auto;
  background-color: #FFFFFF; /* #BFC1C2; */
  font-size: 0.6em;
  flex: 0 0 auto;
  width:1200px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.main-footer h4 {
    color: #006400;
    font-family: "calibri";
    font-size: 1.2em;
}

.main-footer h4 a {
    color: #1C39BB;
    font-family: "calibri";
    font-size: 1.2em;
}

.content {
  padding-top: 1em;
  flex: 1 1 auto;
  min-width: 400px;
}

.content h1 {
  color: #009900;
}

.content h3 {
  color: #014901;
  font-family: 'Helvetica Neue', sans-serif;
}

.monument {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.monument h2 a {
  padding-left: 0.5em;
  color: black;
}

.select-stop {
  padding-bottom: 2em;
}

button {
  padding: 0.5em;
  background-color: white;
  border: 1px;
  border-radius: 0.5em;
}

.disabled {
  /*Disabled link style*/
  color: black;
  text-decoration: none;
}

.routes-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.path {
  background-color: white;
  width: 10em;
  margin: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
}

.path ul {
  margin: 0.5em;
}

/* Added by Antonio */

/*
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#FF8C00;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Helvetica Neue', sans-serif;
	font-size:25px;
	font-weight:bold;
	padding:16px 30px;
	text-decoration:none;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#FF8C00;

}

.myButton:active {
	position:relative;
	top:1px;
}
*/

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:24px;
	font-weight:bold;
	padding:25px 70px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#fb9e25;
}
.myButton:active {
	position:relative;
	top:1px;
}


.button-disable {
	-moz-box-shadow:inset 0px 1px 0px 0px #edd8be;
	-webkit-box-shadow:inset 0px 1px 0px 0px #edd8be;
	box-shadow:inset 0px 1px 0px 0px #edd8be;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0d6b8), color-stop(1, #b0987b));
	background:-moz-linear-gradient(top, #f0d6b8 5%, #b0987b 100%);
	background:-webkit-linear-gradient(top, #f0d6b8 5%, #b0987b 100%);
	background:-o-linear-gradient(top, #f0d6b8 5%, #b0987b 100%);
	background:-ms-linear-gradient(top, #f0d6b8 5%, #b0987b 100%);
	background:linear-gradient(to bottom, #f0d6b8 5%, #b0987b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0d6b8', endColorstr='#b0987b',GradientType=0);
	background-color:#f0d6b8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d1d1d1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:24px;
	font-weight:bold;
	padding:25px 70px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cfccc7;
}



.buttonSmall {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #73a6ff), color-stop(1, #4a6fb0));
	background:-moz-linear-gradient(top, #73a6ff 5%, #4a6fb0 100%);
	background:-webkit-linear-gradient(top, #73a6ff 5%, #4a6fb0 100%);
	background:-o-linear-gradient(top, #73a6ff 5%, #4a6fb0 100%);
	background:-ms-linear-gradient(top, #73a6ff 5%, #4a6fb0 100%);
	background:linear-gradient(to bottom, #73a6ff 5%, #4a6fb0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#73a6ff', endColorstr='#4a6fb0',GradientType=0);
	background-color:#73a6ff;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:1px solid #6494ed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:8px 17px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.buttonSmall:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4a6fb0), color-stop(1, #73a6ff));
	background:-moz-linear-gradient(top, #4a6fb0 5%, #73a6ff 100%);
	background:-webkit-linear-gradient(top, #4a6fb0 5%, #73a6ff 100%);
	background:-o-linear-gradient(top, #4a6fb0 5%, #73a6ff 100%);
	background:-ms-linear-gradient(top, #4a6fb0 5%, #73a6ff 100%);
	background:linear-gradient(to bottom, #4a6fb0 5%, #73a6ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a6fb0', endColorstr='#73a6ff',GradientType=0);
	background-color:#4a6fb0;
}
.buttonSmall:active {
	position:relative;
	top:1px;
}

.button {
  font-family: 'Helvetica Neue', sans-serif;
  font: bold 11px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 3px 7px 3px 7px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.popup {
  position: fixed;
  top: 2em;
  right: 2em;
  border: 1px;
  border-radius: 0.5em;
  padding: 1em;
  background-color: rgba(0,0,0,0.7);
  color: white;
  max-width: 25%;
  font-size: 0.5em;
  text-align: left;
  white-space: pre;
}
